{% extends 'news/base.html' %}
{% block content %}
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Django News</h1>
          <p>Have a look around to some of the latest and greatest news article</p>
          
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <ul>
                {% for article in articles %}
                <li> <a href="{{article.url}}">{{article.title}}</a></li>
                <li>{{article.description}}</li>
                
                {% endfor %}
        
            </ul>
           
          </div>
        
        </div>

        <hr>

      </div> <!-- /container -->


{% endblock %}
