{% extends 'news/base.html' %}
{% block content %}

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Django News Feed</h1>
          <p>Have a look around to some of the latest and greatest news article</p>
          
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <a href="{% url 'new_feed' %}" class= "btn btn-primary"> Add New Feed</a>
        <div class="row">
          <div class="col-md-4">
           
            <ul>
                {% for feed in feeds %}
                <li> <a href="{{feed.url}}">{{feed.title}}</a></li>             
                
                {% endfor %}
        
            </ul>
           
          </div>
         
        </div>

        <hr>

      </div> <!-- /container -->

    
{% endblock %}