{% extends 'news/base.html' %}
{% block content %}

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Add New Feed</h1>
          <p>Have a look around to some of the latest and greatest news article</p>
          
        </div>
      </div>

      <div class="container">
          
            <form method ="post">
              {% csrf_token %}
              {{form.as_p}}
              <button type ="submit" class = "btn btn-primary">Add Fee Source</button>        
        <hr>

      </div> <!-- /container -->
{% endblock %}